.jumbotron {
  background-image: url('https://static.pexels.com/photos/3867/explosion-firework-new-year-s-eve-december-31.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.jumbotron h2 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: 60px;
  font-family: sans-serif;
}

.jumbotron a {
  padding: 10px;
  font-size: 20px;
  color: white;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

li {
  list-style-type: none;
}

button {
  background: white;
  border: 2px solid black;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 5px;
}

button:hover {
  background-image: url('https://static.pexels.com/photos/10967/pexels-photo-10967.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.productLinks {
  font-size: 20px;
  margin: 5px;
}
