  <div class="jumbotron">
    <div class="container">
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'admin'}}Admin{{/link-to}}
    </div>
    <h2>Fireworks</h2>
  </div>
  
  <div class="container">
  {{outlet}}
</div>
