<h1>Product Details For {{model.name}}</h1>

{{product-detail product=model}}


{{comment-tile comment=model.comments deleteComment="deleteComment"}}

<hr>

{{new-comment product=model saveComment="saveComment" deleteComment="deleteComment"}}
